ion-tabs.tabs-icon-top
    ion-tab(title="Inicio", icon="icon ion-home", href="#/tab/dash")
        ion-nav-view(name="tab-dash")
    
    ion-tab(title="Menu", icon="icon ion-calendar", href="#/tab/menu")
        ion-nav-view(name="tab-menu")
    
    ion-tab(title="Tomar Pedido", icon="icon ion-edit", href="#/tab/newOrder")
        ion-nav-view(name="tab-newOrder")

    ion-tab(title="Mesas", icon="icon ion-person-stalker", href="#/tab/tables")
        ion-nav-view(name="tab-tables")

    ion-tab(title="Cocina", icon="icon ion-calendar", href="#/tab/cocina")
        ion-nav-view(name="tab-cocina")
        
    
