ion-view(title="Confirmar Orden")
    ion-content.has-header.padding
        ion-card
            label.item.item-input.item-stacked-label
                span.input-label
                    | Filete a lo Pobre
                textarea(placeholder='Comentarios')
                    | a punto
            
            label.item.item-input.item-stacked-label
                span.input-label
                    | Tallarines a la Bolognesa
                textarea(placeholder='Comentarios')
                
            label.item.item-input.item-stacked-label
                span.input-label
                    | Coca-Cola Light
                textarea(placeholder='Comentarios')
                    | sin hielo
                
            label.item.item-input.item-stacked-label
                span.input-label
                    | Schop Kunstmann Torobayo
                textarea(placeholder='Comentarios')
                
        br
        br
        a.button.button-large.button-outline.button-block.button-positive(href='#')
            | Confirmar pedido
        br
        br