ion-view.main(hide-back-button='true', title='Seleccione función')
    ion-content(padding='true')
        br
        br
        .row.row-center.responsive-md
            .col.col-50.col-center.padding
                a.button.button-dark.button-block.button-large.button-outline
                    | Mozo
            .col.col-50.col-center.padding
                a.button.button-dark.button-block.button-large.button-outline
                    | Cocina
        