ion-view.orderStatus(title='Resumen')
  ion-content
    div.card
      ion-item.item.item-thumbnail-left(ng-repeat='p in table.order | filter: { order: true }')
        img.picture(ng-src="images/menu/{{ p.img[0] }}")
        span.item-note.price
          {{ p.qty * p.price | priceFilter : '$' }}
        h2.title {{ p.name }}
        p.desc {{ p.desc }}

        ion-item.item.item-divider
          | Total
          span.item-note.price
            {{ getTotal() | priceFilter : '$' }}





ion-footer-bar.bar-stable
  button.button.button-assertive(ng-click='goBack()')
    | Atrás
  button.button.button-balanced(ng-click='scanClick()')
    | Pagar BCH
    
