ion-view.reviewOrder(title='Confirmar orden')
    ion-content
        ion-list
            ion-item(ng-repeat='p in table.order | filter : { order : true }')
                    h2 
                        | {{ p.name }}
                    p
                        | {{ p.comment }}
                    span.badge.badge-dark
                        | {{ p.qty }}
        
ion-footer-bar.bar-stable
    button.button.button-assertive(ng-click='editOrder()')
        | Editar Orden
    
    button.button.button-balanced(ng-click='confirmOrder()')
        | Confirmar orden