ion-view.newOrder(title='Nueva orden')
    ion-content
        h1 hola
        
ion-footer-bar.bar-stable
    button.button.button-assertive(ng-click='editOrder()')
        | Editar Orden
    
    button.button.button-balanced(ng-click='confirmOrder()')
        | Confirmar orden