<?xml version='1.0' encoding='utf-8'?>
<widget id="kunder.menu.app" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Menu App - Demo Bco Chile</name>
    <description>
        Aplicación demo de Menu
    </description>
    <author email="contacto@kunder.cl" href="http://kunder.cl">
        kunder SpA
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
